@import "styles/mixins.scss";
.comment-list-item {
  margin-top: 12px;
  display: flex;
  &-avatar {
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
  }
  &-user {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    overflow: hidden;
  }
  &-user-speak {
    width: 100%;
    @include ell;
  }
}
