.wrapper {
  .hello {
    font-weight: bold;
    font-size: 30px; // transition: all 1s; // 通过cc3实现一个过渡动画效果
  }
  .show {
    opacity: 1;
    transition: all 1s ease-in;
  }
  .hide {
    opacity: 0;
    transition: all 1s ease-in;
  }
  .show2 {
    animation: color-show 2s ease-in forwards;
  }
  .hide2 {
    animation: color-hide 2s ease-in forwards;
  }
  @keyframes color-show {
    0% {
      opacity: 0;
      color: green;
    }
    50% {
      color: red;
      opacity: 0.5;
    }
    100% {
      color: blue;
      opacity: 1;
    }
  }
  @keyframes color-hide {
    0% {
      color: blue;
      opacity: 1;
    }
    50% {
      color: red;
      opacity: 0.5;
    }
    100% {
      color: green;
      opacity: 0;
    }
  }
}
