@import "vars";
@import 'mixins';
:global {
  .app {
    display: flex;
    .left-nav {
      width: 150px;
      height: 100vh;
      overflow: auto;
      li {
        padding: 0 @space-base;
        line-height: 2.2;
        .ell;
      }
    }
    .content {
      flex: 1;
      padding: @space-base;
    }
  }
}