.app {
  height: 100vh;
  .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
    font-size: 18px;
    color: white;
    line-height: 32px;
    text-align: center;
  }
  &-content-card {
    height: 100%;
  }
}
